<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create new booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
</head>
<body>
<div align="center">
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Home
            </a>
            <a class="navbar-brand" href="/staffdashboard">
                Staff
            </a>
            <a class="navbar-brand" href="/managerdashboard">
                Manager
            </a>
        </div>
    </nav>
    <h1>New Booking</h1>
    <div class="container-fluid row">
        <div class="col-6 offset-3" align="left">
            <form th:action="@{/addcustomerbooking}" th:object="${booking}" method="post">
                <div class="mb-3">
                    <label class="form-label">Customer Name</label>
                    <input type="text" th:field="*{customer.customerName}" class="form-control" >
                </div>

                <div class="mb-3">
                    <label class="form-label">Customer Phone</label>
                    <input type="text" th:field="*{customer.customerPhone}" class="form-control" >
                </div>
                <div class="mb-3">
                    <label>Booking Date</label>
                    <input th:field="*{bookingDate}" readonly="readonly" />
                </div>
                <div class="mb-3">
                    <label>Booking Time</label>
                    <input th:field="*{bookingTime}" readonly="readonly" />
                </div>
                <div class="mb-3">
                    <label class="form-label">Available Table</label>
                    <select th:field="*{tables}" multiple="multiple" class="form-select">
                        <option th:each="table : ${booking.getTables()}"
                                th:value="${table.getId()}"
                                th:text="${table.getTableName()}"></option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Available Services</label>
                    <select th:field="*{services}" multiple="multiple" class="form-select">
                        <option th:each="service : ${availableServices}"
                                th:value="${service.getId()}"
                                th:text="${service.getServiceName()}"></option>
                    </select>
                </div>
                <input type="submit" class="btn btn-primary" value="Submit">
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</body>
</html>